:root {
    --G50:rgba(182, 255, 157, 0.5) !important; 
    --B50:rgba(157, 217, 255, 0.5) !important;
    --Y50:rgba(255, 252, 157, 0.5) !important;
    --R50:rgba(255,171,157, 0.5) !important;
    --G100:rgba(182, 255, 157,1) !important;
    --B100:rgba(157, 217, 255,1) !important;
    --Y100:rgba(255, 252, 157,1) !important;
    --R100:rgba(255,171,157,1) !important;
    --C100:(#3B4248)!important;
}

html, body{
    height: auto;
    width: 100%;
    overflow-x: hidden !important;
    font-family: 'Montserrat', sans-serif;
    margin:0%;
}
body {
    background-image: url("../images/blue-graph-paper.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size:80px;
    background-color:white;
    overflow-x: hidden !important;
}




/* HEADER SECTION START*/
div.header {
    /* height:250px; */
    width:100vw
    padding:0%;
    margin:0%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden !important;
}
div.logotitle{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.drawing {
    align-content: center;
    margin:20px 40px 20px 60px;
    height:auto;
    width:100%;
    max-width: 150px;
    min-width:80px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    display:block;
}
h1.name {
    text-align: left;
    padding: 5px;
    margin: 0px 75px 10px 0px;
    font-family: 'Montserrat', sans-serif;
    min-width: 275px;
    max-width:325px;
    white-space: nowrap;
}
.navbar {
    display: inline-flex;
    flex-direction: row;
    padding-right:60px;
    align-content: center !important;
    text-align: center !important;
    flex-wrap: nowrap;
    white-space: nowrap;
}



/* HEADER NAVIGATION BUTTON ANIMATION START */
.nav {
    text-decoration: none;
    color: black;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap !important;
    white-space: nowrap;
    padding: 19px 23px;
    transition: all 0.2s ease;
    cursor:pointer !important;
    margin-left: 10px;
}
#about:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    display: block;
    border-radius: 28px;
    background: rgba(182, 255, 157, 0.5) !important;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor:pointer !important;
    flex-wrap: nowrap !important;
    white-space: nowrap;
}
#skills:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    display: block;
    border-radius: 28px;
    background: rgba(157, 217, 255, 0.5) !important;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor:pointer !important;
    flex-wrap: nowrap;
}
#work:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    display: block;
    border-radius: 28px;
    background: rgba(255, 252, 157, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor:pointer !important;
    flex-wrap: nowrap;
}
#contact:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    display: block;
    border-radius: 28px;
    background: rgba(255,171,157, 0.5) !important;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor:pointer !important;
    flex-wrap: nowrap;
}
.nav span {
    position: relative;
    font-size: 18pt !important;
    letter-spacing: 0.1em;
    line-height: 90%;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor:pointer !important;
    max-width: 190px;
    padding-left: 10px;
    flex-wrap: nowrap;
}
/* .nav svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
    cursor:pointer;
    cursor: auto;
} */
#about:hover:before {
    width: 100%;
    background: rgba(182, 255, 157,1) !important;
}
#skills:hover:before {
    width: 100%;
    background: rgba(157, 217, 255,1) !important;
}
#work:hover:before {
    width: 100%;
    background: rgba(255, 252, 157,1) !important;
}
#contact:hover:before {
    width: 100%;
    background:rgba(255,171,157,1) !important;
}
.nav:hover {
    transform: translateX(0);
}
.nav:active {
    transform:scale(1);
}
/* HEADER NAVIGATION BUTTON ANIMATION END */

/* HEADER SECTION END*/






/* CONTENT SECTION START */

/* VEN DIAGRAM ANNIMATION START */
.box {
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height:50vh;
    width:100%;
    border-radius: 10%;
    margin: 0;
    z-index: +5;
    mix-blend-mode:multiply;
}
.ventext {
    vertical-align: middle;
    align-items: center;
    align-self:center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 36pt;
    line-height: 42pt;
    display: flex;
    justify-content:center;
    text-align: center;
    width:100%;
    height:fit-content;
    position: relative;
    padding: 10px;
    z-index: +10;
}
[class^='ci'] {
    background-color: gray;
    border-radius: 100%;
    height: 40vh;
    width: 40vh;
    mix-blend-mode:multiply;
    position: absolute;
}
.circle1 {
    background-color: rgba(157, 217, 255,1);
    -webkit-animation: ci1 4s ease-in-out infinite alternate;
    animation: ci1 4s ease-in-out infinite alternate;
}
.circle2 {
    background-color: rgba(255, 252, 157,1);
    -webkit-animation: ci2 4s ease-in-out infinite alternate;
    animation: ci2 4s ease-in-out infinite alternate;
}
.circle3 {
    background-color: rgba(255,171,157,1) ;
    -webkit-animation: ci3 4s ease-in-out infinite alternate;
    animation: ci3 6s ease-in-out infinite alternate;
}
@-webkit-keyframes ci1 { /* BLUE CIRCLE */
    from {
        transform: translate(-15%, 15%);
        animation:2s;
    }
    to {
        transform: translate(0, 0);
        animation: 3s;
    }
    to {
        transform: translate(0, 2%);
        animation: 1s;
    }
}
@keyframes ci1 { /* BLUE CIRCLE */
    from {
        transform: translate(-15%, 15%);
        animation:2s;
    }
    to {
        transform: translate(0, 0);
        animation: 3s;
    }
    to {
        transform: translate(0, 2%);
        animation: 1s;
    }
}
@-webkit-keyframes ci2 { /* YELLOW CIRCLE */
    from {
        transform: translate(0, -15%);
        animation:2s;
    }
    to {
        transform: translate(0, 0);
        animation: 3s;
    }
    to {
        transform: translate(-2%, 0);
        animation: 1s;
    }
}
@keyframes ci2 { /* YELLOW CIRCLE */
    from {
        transform: translate(0, -15%);
        animation:2s;
    }
    to {
        transform: translate(0, 0);
        animation: 3s;
    }
    to {
        transform: translate(-2%, 0);
        animation: 1s;
    }
}
@-webkit-keyframes ci3 { /* RED CIRCLE */
    from {
        transform: translate(15%, 15%);
        animation:2s;
    }
    to {
        transform: translate(0, 0);
        animation: 3s;
    }
    to {
        transform: translate(2%, 2%);
        animation: 1s;
    }
}
@keyframes ci3 { /* RED CIRCLE */
    from {
        transform: translate(15%, 15%);
        animation:2s;
    }
    to {
        transform: translate(0, 0);
        animation: 3s;
    }
    to {
        transform: translate(2%, 2%);
        animation: 1s;
    }
}
/* VEN DIAGRAM ANNIMATION END */






content-top {
    display:flex;
    position: relative;
    height:90px;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    margin:0px 35px 0px 35px;
    padding:0;
    box-shadow: 0px -15px 20px #becdd7;
    z-index: +2;
}
content {
    display:flex;
    margin:0px 35px 0px 35px;
    padding:0;
    align-items:top;
    align-content: center;
    justify-content: center;
    min-height:500px;
    background-color:white;
    flex-direction: row;
    z-index: +10;
}
case-content {
    display:flex;
    margin:0px 35px 0px 35px;
    padding:0;
    align-items:top;
    align-content: center;
    justify-content: center;
    min-height:500px;
    background-color:white;
    flex-direction: row;
    z-index: +10;
}



/* BOOTSTRAP CARDS START */



/* BOOTSTRAP CARDS END */




content-bottom{
    display:flex;
    position: relative;
    height:90px;
    background-color: white;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    margin:0px 35px 0px 35px;
    padding:0;
    box-shadow: 0px 15px 20px #becdd7;
    z-index: +3;
    border-bottom:2px solid lightgrey !important;
}
div.content-left {
    display: flex;
    width:40vw;
    justify-content: right;
    /* align-items: top; */
    flex-direction:row;
    position: relative;
    top: 0px;
    padding:2px;
    margin:3%;
}



/* IMAGE CIRCLES */
.roundimgs {
    display:flex;
    flex-direction: column;
    align-content: space-between;
    object-fit: contain;
    object-position: center;
}
.numbercircle {
    display:flex;
    background-color: gray;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    padding: 8px;
    background:green;
    border: 2px solid darkblue;
    color:blue;
    text-align: center;
    font: 32px Arial, sans-serif;
    object-fit: contain;
    object-position: center;
}
#num{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    padding: 8px;
    background: #fff;
    border: 2px solid darkred;
    color:red;
    text-align: center;
    font: 32px Arial, sans-serif;
    object-fit: contain;
    object-position: center;
}






.me {
    object-fit: contain;
    vertical-align: top;
    position:relative;
    height:50vh;
    /* min-width:150px; */
    width: 450px;
    height:auto;
    background-color:black;
    border-radius: 50%;
    border:2px solid black;
    padding: 0px;
    margin: 10px;
    z-index: +10;
    object-fit: cover;
    object-position: center;
}
div.content-right {
    width:60vw;
    display:flex;
    overflow: auto;
    margin:3% 16% 0% 8%;
    justify-content:center;
    align-items: center;
    align-content:center;
    flex-direction: column;
    border:3px black !important;
    font-family: 'Montserrat', sans-serif;
    line-height: 2em;
    padding-bottom: 20px;
    float:right;
    clear:both;
    /* border: 2px solid indigo; */
    /* padding-left: 100px; */
    /* height: fit-content(1em); */
}
div.content-right p {
    margin-bottom:60px;
}
.content-right h1{
    justify-content: left;
}


.content-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18pt;
    letter-spacing: .1em;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 18pt;
    color:black;
    background:rgba(250, 128, 114, 0.605);
    background-image: url(../images/blue-graph-paper.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size:80px;
    border:2px solid lightgray;
    text-transform:uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.content-button:hover{
    background-blend-mode: multiply;
    box-shadow:0 0 20px rgba(182, 255, 157, 0.5);
    border:2px solid gray;
    z-index: +20; 
}
.content-right #blue-skill{
    background:rgba(157, 217, 255,1);
    margin-top: 20px;
    background-blend-mode: multiply;
    padding: 0px 25px 0px 25px;
    border-radius:15px;
    height: auto;
    width:90%;
    margin-bottom:20px;
}
.content-right #yellow-skill{
    background:rgba(255, 252, 157,1);
    background-blend-mode: multiply;
    padding: 0px 25px 0px 25px;
    border-radius:15px;
    height: auto;
    width:90%;
    margin-bottom:20px;
}
.content-right #red-skill{
    background:rgba(250, 128, 114, 0.605) ;
    background-blend-mode: multiply;
    padding: 0px 25px 0px 25px;
    border-radius:15px;
    height: auto;
    width:90%;
    margin-bottom:80px;
}
[id^='skill']{
    transition: all 0.3s ease-in-out .3s;
}
#red-skill:hover{
    cursor: default !important;
    animation: shake .4s 1;
    animation-timing-function: linear;
    transition: all 0.3s ease-in-out .3s; 
}
#yellow-skill:hover{
    cursor: default !important;
    animation: shake .4s 1;
    animation-timing-function: linear;
    transition: all 0.3s ease-in-out .3s; 
}
#blue-skill:hover{
    cursor: default !important;
    animation: shake .4s 1;
    animation-timing-function: linear;
    transition: all 0.3s ease-in-out .3s; 
}
@keyframes shake {
    0% { transform: rotate(0.5deg); }
    50% { transform: rotate(-0.5deg); }
    100% { transform: rotate(0.5deg); }
}
/* CONTENT SECTION END*/








/* FOOTER SECTION START*/
.footer {
    position: sticky;
    bottom: 40px;
    z-index: +20;
    height: 150px;
    width: 100vw;
    margin-top: 100px;
    padding:0px 0px 0px 100px;
}
.footer ul {
    list-style-type: none;
    padding: 0;
}
.footer li{
    display:inline-block
}
.footer a {
    font-size: 18pt;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    cursor:pointer !important;
    text-decoration: none;
    color:black;
}
.link-text {
    display:block;
    text-decoration: none;
    color:black;
    font-size: 18pt;
    font-weight:400;
    transition: all 0.3s ease-in-out;
}
.link-text:link {
    cursor:pointer !important;
    text-decoration: none;
    color:black; 
    font-weight: 600;
}
.link-text:visited {
    cursor:pointer !important;
    text-decoration: none;
    color:black; 
}
.link-text:hover{
    cursor:pointer !important;
    text-decoration: underline dotted lightgrey!important;
    text-transform: uppercase;
    color:black;
    font-weight: 600 !important;
    letter-spacing: 0.1em;
    font-size: 18pt;
    padding: 10px 20px 10px 20px;
} 
.link-text:active {
    cursor:pointer !important;
    text-decoration: none;
    color:black;     
}

/* CONTACT MODAL */
.bg-modal {
    display:flex;
    width: 100vw;
    height:100vh;
    background-color:rgba(0,0,20,0.8);
    position: fixed;
    top:0;
    left: 0;
    justify-content:center;
    align-items: center;
    z-index:30;
}
.modal-content{
    width:500px;
    height: fit-content;
    background-color:rgba(255,255,255,1);
    border-radius: 15px;
    text-align: center;
    padding:40px;
    margin-top:40px;
    margin-bottom: 50px;
    z-index: 20;
    position: relative;
    justify-content: space-evenly;
    /* text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center; */
}
input{
    font-family: montserrat;
    width: 75%;
    min-height:40px;
    height:fit-content;
    display: block;
    font-size: 16pt;
    Margin:8px auto;
    padding: 5px;
    border-radius: 10px;
    border:1px solid darkgray;
    position: relative;
}
textarea{
    font-family: montserrat;
    width: 75%;
    max-width: 75% !important;
    min-height:40px;
    height:fit-content;
    display: block;
    font-size: 16pt;
    margin:8px auto;
    margin-bottom:40px;
    padding: 5px;
    border-radius: 10px;
    border:1px solid darkgray;
    position: relative;
    padding-bottom: 20px;
}
.close {
    position:absolute;
    top:0;
    right:20px;
    font-size: 50px;
    transform: rotate(45deg);
    color: darkgray;
    width: 20px;
    cursor: pointer;
}
.close:hover {
    position:absolute;
    top:0;
    right:20px;
    font-size: 50px;
    font-weight: bold;
    transform: rotate(45deg);
    color: black;
    width: 20px;
    cursor: pointer;
}
#mini-drawing {
    margin: 0px 0px 20px 0px;
    align-content: center;
    height:auto;
    width:100%;
    max-width: 150px;
    min-width:80px;
    border:thick double black;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    display:block;
}
#submit {
    text-decoration:none !important;
    background:none;
/* background-image: none; */
    cursor: pointer;
    margin-top: 20px;
    padding: 20px;
    align-content: flex-end;
    margin-bottom: 50px;
}
#submit:hover {
    background:rgba(0,0,20,.3);
    text-decoration:none !important;
    cursor: pointer;
    box-shadow:0 0 10px rgba(0, 0, 20, 0.25);
}
.modal-content form{
    margin-top: 20px;
    padding-top: 5px;
    margin-bottom: 20px;
}












/* MEDIA QUERY START*/
@media (max-width:1172px) {
    div.header {
    height: auto !important;
    width:100vw !important;
    overflow: auto !important;
    display:flex !important;
    flex-direction: column /*!important*/;
    justify-content: center !important;
    /* align-items: flex-start !important; */
}
div.logotitle{
    display: flex;
    justify-content: center;
    flex-direction: column !important;
}
img.drawing {
    width: 33% !important;
    height: auto;
    align-content: center;
    margin: 10px !important;
    border:thick double black;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    display:none;
    position:relative;
    top:20px;
}
.name {
    display:flex !important;
    flex-direction:column !important;
    text-align: center !important;
    padding-top: 40px !important;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    /* font-size:0 !important;
    height:0 !important; */
    }
.navbar{
    display:flex !important;
    /* flex-direction:column  !important; */
    /* flex: 50%; */
    align-content: center !important;
    margin: 0px 130px 0px 150px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color:black;
    position: relative;
    padding: 0% !important;
    transition: all 0.2s ease;
    /* flex-wrap: nowrap;
    white-space: pre-wrap; */
}
.nav{
    display:flex !important;
    flex-direction:column !important;
    flex-basis: 100%;
    flex:2;
    width: 50%;
    padding: 19px 22px;
    margin: 10px;
    max-width: 190px;
}
.content-right, .content-left{
    float:right;
    clear:both !important;
}
content{
    display:flex !important; 
    flex-direction: column !important;
    background-color:#ffffff;
    position:relative;
    margin:0px 35px 0px 35px;
    height: fit-content ;
    /* width: 100% ; */
    align-items: center !important;
    justify-content: space-around !important;
    background-color:white;
    /* box-shadow: 0px 10px 100px #becdd7; */
    flex-wrap: wrap;
    box-sizing: border-box;
    }

div.content-right{
    display:flex;
    flex-direction: column !important;
    justify-content: space-around !important;
    position: relative;
    align-content: baseline;
    Margin: 0px 50px 0px 50px !important;
    width:80%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    box-sizing: border-box;
}
div.content-left{
    flex-direction: column !important;
    justify-content: space-around !important;
    align-content: center !important;
    display:flex;
    Margin: 0px 50px 0px 50px !important;
    width:80%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    box-sizing: border-box;
}
.box {
    display:flex;
    justify-content: center;
    position:relative;
    top:auto;
    height:50vh;
    width:80% !important;
    /* max-width:500px !important; */
    background-color:white;
    border-radius: 50%;
    padding: 2px;
    margin: 0px 20px 0px 20px !important;
    z-index: +5;
    object-fit: cover;
    object-position: center;
}
.me {
    justify-content: center;
    position:relative;
    top: -40px;
    height:auto !important;
    width:80% !important;
    max-width:500px !important;
    background-color:black;
    border-radius: 50%;
    border-color: black;
    border-width: 2px;
    padding: 2px;
    margin: 0px 20px 0px 20px !important;
    z-index: +5;
    object-fit: cover;
    object-position: center;
}
#portrait{
    display:flex;
    justify-content: center !important;
}
.content-right button {
    margin-bottom: 80px;
}
.footer{
    display:inline-block;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding:0px;
}
/* .footer div{
    flex:1
}
.footer li {
    flex:1;
    display:flex;
    flex-direction: column;
    padding: 20px;
    }*/
} 
/* MEDIA QUERY END*/

