:root {
    --G50:rgba(182, 255, 157, 0.5) !important; 
    --B50:rgba(157, 217, 255, 0.5) !important;
    --Y50:rgba(255, 252, 157, 0.5) !important;
    --R50:rgba(255,171,157, 0.5) !important;
    --G100:rgba(182, 255, 157,1) !important;
    --B100:rgba(157, 217, 255,1) !important;
    --Y100:rgba(255, 252, 157,1) !important;
    --R100:rgba(255,171,157,1) !important;
    --C100:(#3B4248)!important;
}

html, body{
    height: auto;
    width: 100%;
    overflow-x: hidden !important;
    font-family: 'Montserrat', sans-serif;
    margin:0%;
}
body {
    background-image: url("../images/blue-graph-paper.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size:80px;
    background-color:white;
    overflow-x: hidden !important;
}




/* HEADER SECTION START*/
div.header {
    /* height:250px; */
    width:100vw
    padding:0%;
    margin:0%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden !important;
}
div.logotitle{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.drawing {
    align-content: center;
    margin:20px 40px 20px 60px;
    height:auto;
    width:100%;
    max-width: 150px;
    min-width:80px;
    border:thick double black;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    display:block;
}
h1.name {
    text-align: left;
    padding: 5px;
    margin: 0px 75px 10px 0px;
    font-family: 'Montserrat', sans-serif;
    min-width: 275px;
    max-width:325px;
}
.navbar {
    display: inline-flex;
    flex-direction: row;
    padding-right:60px;
    align-content: center;
    text-align: center;
    flex-wrap: nowrap;
}



/* HEADER NAVIGATION BUTTON ANIMATION START */
.nav {
    text-decoration: none;
    color: black;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 19px 23px;
    transition: all 0.2s ease;
    cursor:pointer !important;
    margin-left: 10px;
}
#about:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    display: block;
    border-radius: 28px;
    background: rgba(182, 255, 157, 0.5) !important;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor:pointer !important;
    flex-wrap: nowrap;
}
#skills:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    display: block;
    border-radius: 28px;
    background: rgba(157, 217, 255, 0.5) !important;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor:pointer !important;
    flex-wrap: nowrap;
}
#work:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    display: block;
    border-radius: 28px;
    background: rgba(255, 252, 157, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor:pointer !important;
    flex-wrap: nowrap;
}
#contact:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    display: block;
    border-radius: 28px;
    background: rgba(255,171,157, 0.5) !important;
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor:pointer !important;
    flex-wrap: nowrap;
}
.nav span {
    position: relative;
    font-size: 18pt !important;
    letter-spacing: 0.1em;
    line-height: 90%;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor:pointer !important;
    max-width: 160px;
    padding-left: 10px;
    flex-wrap: nowrap;
}
/* .nav svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
    cursor:pointer;
    cursor: auto;
} */
#about:hover:before {
    width: 100%;
    background: rgba(182, 255, 157,1) !important;
}
#skills:hover:before {
    width: 100%;
    background: rgba(157, 217, 255,1) !important;
}
#work:hover:before {
    width: 100%;
    background: rgba(255, 252, 157,1) !important;
}
#contact:hover:before {
    width: 100%;
    background:rgba(255,171,157,1) !important;
}
.nav:hover {
    transform: translateX(0);
}
.nav:active {
    transform:scale(1);
}
/* HEADER NAVIGATION BUTTON ANIMATION END */

/* HEADER SECTION END*/





/* CONTENT SECTION START */


/* VEN DIAGRAM ANNIMATION START */
.box {
    /* justify-content: center; */
    /* vertical-align: top; */
    display:flex;
    justify-content: center;
    position:relative;
    vertical-align: middle;
    position: relative;
    top: 90px;
    height:fit-content;
    width:100%;
    min-width:100px;
    max-width: 600px;
    border-radius: 10%;
    padding: 10px;
    margin: 10px;
    z-index: +100;
    mix-blend-mode:multiply;
}
.ventext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 36pt;
    line-height: 42pt;
    display: flex;
    justify-content:center;
    text-align: center;
    width:100%;
    height:fit-content;
    position: relative;
    top: 175px; 
    padding: 10px;
}
[class^='ci'] {
    background-color: gray;
    /* border:2px solid #4b3a26; */
    border-radius: 100%;
    height: 50vh;
    width: 50vh;
    mix-blend-mode:multiply;
    position: absolute;
}
.circle1 {
    background-color: rgba(157, 217, 255,1);
    -webkit-animation: ci1 4s ease-in-out infinite alternate;
    animation: ci1 4s ease-in-out infinite alternate;
}
.circle2 {
    background-color: rgba(255, 252, 157,1);
    -webkit-animation: ci2 4s ease-in-out infinite alternate;
    animation: ci2 4s ease-in-out infinite alternate;
}
.circle3 {
    background-color: rgba(255,171,157,1) ;
    -webkit-animation: ci3 4s ease-in-out infinite alternate;
    animation: ci3 6s ease-in-out infinite alternate;
}
@-webkit-keyframes ci1 {
    from {
        transform: translate(-10%, 10%);
        animation:2s;
        /* border:2px solid blue; */
    }
    to {
        transform: translate(0, 5%);
        /* border:2px solid black; */
        animation: 3s;
    }
    to {
        transform: translate(0, 1%);
        /* border:1px solid black; */
        animation: 1s;
    }
}
@keyframes ci1 {
    from {
        transform: translate(-10%, 10%);
        animation: 2s;
        /* border:2px solid blue; */
    }
    to {
        transform: translate(0, 5%);
        /* border:2px solid black; */
        animation: 3s;
    }
    to {
        transform: translate(0, 1%);
        /* border:1px solid black; */
        animation: 1s;
    }
}
@-webkit-keyframes ci2 {
    from {
        transform: translate(0, -20%);
        animation:2s;
        /* border:2px solid gold; */
    }
    to {
        transform: translate(-5%, 0);
        /* border:2px solid black; */
        animation: 3s;
    }
    to {
        transform: translate(-1%, 0);
        /* border:1px solid black; */
        animation: 1s;
    }
}
@keyframes ci2 {
    from {
        transform: translate(0, -20%);
        animation:2s;
        /* border:2px solid gold; */
    }
    to {
        transform: translate(-5%, 0);
        /* border:2px solid black; */
        animation: 3s;
    }
    to {
        transform: translate(-1%, 0);
        /* border:1px solid black; */
        animation: 1s;
    }
}
@-webkit-keyframes ci3 {
    from {
        transform: translate(15%, 20%);
        animation:2s;
        /* border:2px solid red; */
    }
    to {
        transform: translate(0, 0);
        /* border:2px solid black; */
        animation: 3s;
    }
    to {
        transform: translate(0, 1);
        /* border:1px solid black; */
        animation: 1s;
    }
}
@keyframes ci3 {
    from {
        transform: translate(15%, 20%);
        animation:2s;
        /* border:2px solid red; */
    }
    to {
        transform: translate(0, 0);
        /* border:2px solid black; */
        animation: 3s;
    }
    to {
        transform: translate(0, 1);
        /* border:1px solid black; */
        animation: 1s;
    }
}
/* VEN DIAGRAM ANNIMATION END */



div.content{
    border-top: 3px solid black !important;
    width:100vw;
    overflow-x: hidden !important; 
}
content {
    display:flex;
    margin:0;
    padding:0;
    /* border-top:2px solid black !important;
    border-bottom:2px solid black !important; */
    align-items:top;
    align-content: center;
    justify-content: center;
    min-height:500px;
    background-color:white;
    flex-direction: row;
    box-shadow: 0px 10px 100px #becdd7;
    /* border-bottom-left-radius:10%;
    border-bottom-right-radius:10%; */
    border-radius: 5em / 5em;
}
div.content-left {
    display: flex;
    width:40vw;
    justify-content: right;
    flex-direction:row;
    position: relative;
    top: 0px;
    padding:0%;
    margin:0%;
    border-top:3px black !important;
    max-width:50%;
}
.me {
    object-fit: contain;
    vertical-align: top;
    position:relative;
    top: -5%;
    height:auto;
    min-width:100px;
    width: 100%;
    height:auto;
    background-color:black;
    border-radius: 50%;
    border-color: black;
    border-width: 2px;
    padding: 2px;
    margin: 0px 20px 0px 75px;
    z-index: +100;
    object-fit: cover;
    object-position: center;
}
div.content-right {
    width:60vw;
    display:flex;
    overflow: auto;
    margin:3% 15% 0% 10%;
    justify-content:center;
    align-items: center;
    align-content:center;
    flex-direction: column;
    border:3px black !important;
    font-family: 'Montserrat', sans-serif;
    line-height: 2em;
    padding-bottom: 80px;
    /* border: 2px solid indigo; */
    /* padding-left: 100px; */
    /* height: fit-content(1em); */
}
div.content-right p {
    margin-bottom:60px;
}
div.content-right h1{
    display:flex;
    flex-direction: row;
    text-align: left !important;
    justify-items: left !important;
    justify-self: left !important;
    justify-content: left !important;
}
.content-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18pt;
    letter-spacing: .1em;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 18pt;
    color:black;
    background:rgba(250, 128, 114, 0.605);
    background-image: url(../images/blue-graph-paper.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size:80px;
    border:2px solid black;
    text-transform:uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.content-button:hover{
    background-blend-mode: multiply;
    box-glow:0 0 30px rgba(182, 255, 157, 0.5);
}


/* CONTENT SECTION END*/




/* FOOTER SECTION START*/
footer {
    padding-left:50px;
    z-index: -1;
    height: 150px;
    width: 100vw;
    margin: 0%;
    margin-top: 50px;
}
.footer ul {
    list-style-type: none;
}
.footer li{
    display:inline-block
}
.footer a {
    font-size: 18pt;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 10px 15px 10px 15px;
    cursor:pointer !important;
    text-decoration: none;
    color:black;
}
.link-text {
    display:block;
    text-decoration: none;
    color:black;
    font-size: 18pt;
    font-weight:400;
    transition: all 0.3s ease-in-out;
}
.link-text:link {
    cursor:pointer !important;
    text-decoration: none;
    color:black; 
    font-weight: 600;
}
.link-text:visited {
    cursor:pointer !important;
    text-decoration: none;
    color:black; 
}
.link-text:hover{
    cursor:pointer !important;
    padding: 10px 0px 10px 0px;
    text-decoration: underline dotted black!important;
    color:black;
    font-weight: 600 !important;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 10px 15px 10px 15px;
} 
.link-text:active {
    cursor:pointer !important;
    text-decoration: none;
    color:black;     
}
/* .link-text li:hover{
    font-size: 20px;
    font-weight: 900;
} */
/* FOOTER SECTION END*/








/* MEDIA QUERY START*/
@media (max-width:1000px) {
    div.header {
    height: auto !important;
    width:100vw !important;
    overflow: auto !important;
    display:flex !important;
    flex-direction: row /*!important*/;
    justify-content: center !important;
    align-items: flex-start !important;
}
div.logotitle{
    flex-direction: column !important;
}
img.drawing {
    width: 33% !important;
    height: auto;
    align-content: center;
    margin: 10px !important;
    border:thick double black;
    border-radius: 50%;
    background-color: white;
    overflow: hidden;
    display:block;
    position:relative;
    top:20px;
}
.name {
    display:flex !important;
    flex-direction:column !important;
    text-align: center !important;
    padding-bottom: 50px !important;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size:0 !important;
    height:0 !important;
    }
.navbar{
    display:flex !important;
    /* flex-direction:column  !important; */
    /* flex: 50%; */
    align-content: center !important;
    margin: 20px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color:black;
    position: relative;
    padding: 0% !important;
    transition: all 0.2s ease;
    flex-wrap: wrap
}
.nav{
    display:flex !important;
    flex-direction:column !important;
    flex-basis: 100%;
    flex:2;
    width: 50%;
    padding: 19px 22px;
    margin: 10px;
    white-space:nowrap;
    max-width: 140px;
}
.content-right, .content-left{
    float:right;
    clear:both !important;
}
content{
    display:flex !important; 
    flex-direction: column !important;
    background-color:#ffffff;
    position:relative;
    /* Margin: 0px 50px 5px 50px !important; */
    height: fit-content !important;
    width: 100% !important;
    align-items: center !important;
    justify-content: space-around !important;
    background-color:white;
    box-shadow: 0px 10px 100px #becdd7;
    flex-wrap: wrap;
    box-sizing: border-box;
    }

div.content-right{
    display:flex;
    flex-direction: column !important;
    justify-content: space-around !important;
    position: relative;
    align-content: baseline;
    Margin: 0px 50px 0px 50px !important;
    width:80%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    box-sizing: border-box;
}
div.content-left{
    flex-direction: column !important;
    justify-content: space-around !important;
    align-content: center !important;
    display:flex;
    Margin: 0px 50px 0px 50px !important;
    width:80%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    box-sizing: border-box;
}
.name{
    visibility: hidden;
}
.box {
    display:flex;
    justify-content: center;
    position:relative;
    top:auto;
    height:auto !important;
    width:80% !important;
    /* max-width:500px !important; */
    background-color:white;
    border-radius: 50%;
    padding: 2px;
    margin: 0px 20px 0px 20px !important;
    z-index: +5;
    object-fit: cover;
    object-position: center;
}
.me {
    justify-content: center;
    position:relative;
    top: -40px;
    height:auto !important;
    width:80% !important;
    max-width:500px !important;
    background-color:black;
    border-radius: 50%;
    border-color: black;
    border-width: 2px;
    padding: 2px;
    margin: 0px 20px 0px 20px !important;
    z-index: +5;
    object-fit: cover;
    object-position: center;
}
#portrait{
    display:flex;
    justify-content: center !important;
}
.content-right button {
    margin-bottom: 80px;
}

/* .footer div{
    flex:1
}
.footer li {
    flex:1;
    display:flex;
    flex-direction: column;
    padding: 20px;
    }*/
} 
/* MEDIA QUERY END*/

